<app-welcome [route]="viewmedicine"></app-welcome>
  <div class="main-content">


<h5 class="text-center update-heading my-4">VIEW ALL MEDICINE</h5>
<!-- Navigation Header: Add Customer, Search, Clear -->
<div class="container my-2 px-lg-5 px-md-3">
  <div class="row d-flex  align-items-center justify-content-around  align-content-center px-lg-5 px-md-3">
    
    <!-- Add Medicine Button -->
    <div class="col-2">
      <button id="additem" class="btn btn-success w-100" type="button" (click)="addItemDetails()">
        <i class="fa fa-plus"></i> Add Medicine
      </button>
    </div>

    <!-- Search Type Selector -->
    <div class="col-2">
      <select [(ngModel)]="searchType" (change)="onSearchTypeChange($event)" class="form-control" placeholder="Search Type">
        <option value="searchType" >-- Search Type --</option>
        <option value="medicine">Medicine Name</option>
      </select>
    </div>

    <!-- Search Input -->
    <div class="col-2">
      <input [disabled]="isSearchValueDisabled" type="search" id="searchValue" [(ngModel)]="searchValue" placeholder="Search Value" class="form-control" (keydown.enter)="searchItems()"/>
    </div>

    <!-- Search and Clear Buttons -->
    <div class="col-3">
      <button [disabled]="isSearchButtonDisabled" type="button" (click)="searchItems()" class="btn btn-primary me-2">
        Search <i class="fa fa-search"></i> 
      </button>
      <button type="button" (click)="clearSearchCustomers()" class="btn btn-secondary me-2">
        Clear <i class="fa fa-remove"></i> 
      </button>
    </div>
    <div class="col-2 ">
      <button id="totalCustomers" class="btn btn-info" type="button" name="totalCustomers"> User Count: <span
          class="badge rounded-pill text-bg-dark">{{totalItemsCount}} </span></button>
    </div>
    
  </div>
</div>




<!-- End Navigation Header -->

<!-- Order Data Tables -->
<div class="container mt-3">
  <div class="row">
    <div class="table-responsive">
      <table id="example1" class="table table-striped">
        <thead class="table-header">
          <tr>
            <th>Medicine ID</th>
            <th>Medicine Name</th>
            <th>Medicine Type</th>
            <th *ngIf="isAdmin">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="totalItemsCount == '0'">
            <td [attr.colspan]="isAdmin ? '4' : '3'">No Records to display</td>
          </tr>
          <tr *ngFor="let item of itemsList | paginate: { itemsPerPage: 10, currentPage: currentPageNumber, totalItems: totalItemsCount }; let i = index;">
            <td>{{item.medid}}</td>
            <td>{{item.medicinename}}</td>
            <td>{{item.medicinetype}}</td>
            <td *ngIf="isAdmin" class="d-flex justify-content-center">
              <button type="button" (click)="updateItem(item.medid)" class="btn btn-sm btn-warning" title="Edit">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" (click)="deleteItem(item.medid)" class="btn btn-sm btn-danger ms-2" title="Delete">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls *ngIf="totalItemsCount != '0'" (pageChange)="onViewCustomerPaginationPageChange($event)"></pagination-controls>
    </div>
  </div>
</div>
<!-- End Order Data Tables -->

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p class="text-white">Loading...</p>
</ngx-spinner>
</div>
