<div class="main-content">
<form [formGroup]="loginform" class="login-form">
    <h3 class="form-title">Login Here</h3>

    <div class="form-group">
        <label for="username">Username</label>
        <input 
            type="text" 
            id="username" 
            placeholder="User Name" 
            formControlName="email" 
            (keydown.space)="$event.preventDefault();" 
            (keydown.enter)="loginbtn(user.value, pass.value)" 
            required #user
            class="form-control"
        />
        <div *ngIf="loginform.controls['email'].invalid && (loginform.controls['email'].dirty || loginform.controls['email'].touched)" class="alert alert-danger">
            <div *ngIf="loginform.controls['email'].errors">Please enter a valid username</div>
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input 
            type="password" 
            id="password" 
            placeholder="Password" 
            formControlName="password" 
            (keydown.enter)="loginbtn(user.value, pass.value)" 
            (keydown.space)="$event.preventDefault();" 
            required  #pass
            class="form-control"
        />
        <div *ngIf="loginform.controls['password'].invalid && (loginform.controls['password'].dirty || loginform.controls['password'].touched)" class="alert alert-danger">
            <div *ngIf="loginform.controls['password'].errors">Please enter a valid password</div>
        </div>
    </div>

    <div class="form-group">
        <button 
            type="button" 
            (click)="loginbtn(user.value, pass.value)" 
            [disabled]="loginform.invalid" 
            class="btn btn-primary"
        >
            Log In
        </button>
    </div>

    <div *ngIf="showerror" class="error-message">
        <label for="error" class="error-text">{{errormsg}}</label>
    </div>


</form>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  <p style="color: white">loading...</p>  </ngx-spinner>
</div>
