<app-welcome class="highlight" [route]="viewvisit"></app-welcome>
<div class="main-content">

  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css" rel="stylesheet">
  <script src="build/main.js"></script>
  <script src='/pdfmake.min.js'></script>

  <h5 class="text-center update-heading my-4">VIEW ALL VISITS</h5>

  <!-- Navigation header: Add Visit, Search, Clear -->
  <div class="container mt-3">
    <div class="row align-items-center justify-content-around mobile-responsive">

      <!-- Button to add a visit -->
      <div *ngIf="isAdmin"class="col-md-2 col-sm-4 mb-2">
        <button id="addCustomerButton" class="btn btn-success btn-block" type="button" (click)="addCustomerButtonClicked()">
          <i class="fa fa-plus"></i> Add Visit
        </button>
      </div>

      <!-- Select for search type -->
      <div class="col-md-2 col-sm-4 mb-2">
        <select [(ngModel)]="searchType" (change)="onSearchTypeChange($event)" class="form-control" id="searchType">
          <option value="searchType">--Search Type--</option>
          <option value="name">Patient Name</option>
          <option value="phonenumber">Phone Number</option>
          <option value="patientid">Patient ID</option>
          <option value="visitdate">Visit Date</option>
        </select>
      </div>

      <!-- Input for search value -->
      <div class="col-md-2 col-sm-4 mb-2">
        <!-- Date picker input for visit date in a single row -->
        <div *ngIf="searchType === 'visitdate'" class="d-flex align-items-center">
            <input 
                [disabled]="isSearchValueDisabled" 
                [(ngModel)]="searchValue" 
                ngxDaterangepickerMd 
                [maxDate]="maxDate" 
                class="form-control mx-2" 
                placeholder="Select Date Range"
                (dateRangeSelected)="searchVisits('','','UI')"
            />
        </div>
    
        <!-- Text input for other search types -->
        <input *ngIf="searchType !== 'visitdate'" [disabled]="isSearchValueDisabled" type="search" id="searchValue" [(ngModel)]="searchValue"
            (keydown.enter)="searchVisits('','','UI')" placeholder="Search Value" class="form-control" />
    </div>
    

      <!-- Search and Clear buttons -->
      <div class="col-md-3 col-sm-6 mb-2 d-flex justify-content-center">
        <button [disabled]="isSearchButtonDisabled" type="button" (click)="searchVisits('','','UI')" class="btn btn-primary">
          <i class="fa fa-search"></i> Search
        </button>
        <button type="button" (click)="clearSearchCustomers()" class="btn btn-secondary ml-3">
          <i class="fa fa-remove"></i> Clear
        </button>
      </div>

      <!-- Total Visits button -->
      <div class="col-md-2 col-sm-4 mb-2">
        <button id="totalCustomers" class="btn btn-info btn-block" type="button">
          Total Visits: <span class="badge badge-dark">{{totalOrders}}</span>
        </button>
      </div>
    </div>
  </div>
  <!-- Navigation header end -->

  <!-- Order data tables display -->
  <div class="container mt-3">
    <div class="table-responsive">
      <table id="example1" class="table table-striped">
        <thead class="table-header">
          <tr>
            <th>Patient ID</th>
            <th>Patient Name</th>
            <th>Phone Number <i class="fa fa-phone"></i></th>
            <th>Visit Date <i class="fa fa-calendar"></i></th>
            <th>Gender</th>
            <th>Age</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="totalOrders=='0'">
            <td colspan="7" class="text-center">No Records to display</td>
          </tr>
          <tr *ngFor="let order of ordersList | paginate: { itemsPerPage: 10, currentPage: currentPageNumber, totalItems: totalOrders }; let i = index;">
            <td>{{order.custid}}</td>
            <td>{{order.customer_name}}</td>
            <td>{{order.mobile_no}}</td>
            <td>{{ order.visitdate | dateFormat }}</td>
            <td>{{order.gender}}</td>
            <td>{{order.age}}</td>
            <td class="d-flex justify-content-around">
              <button type="button" (click)="viewVisit(order.visit_id, 'view')" class="btn btn-sm btn-success" title="View">
                <i class="fa fa-eye"></i>
              </button>
              <button type="button" (click)="downloadFullInvoice(order.visit_id)" class="btn btn-sm btn-info" title="Download">
                <i class="fa fa-download"></i>
              </button>
              <button *ngIf="isAdmin" type="button" (click)="updatevisit(order.visit_id)" class="btn btn-sm btn-warning" title="Edit">
                <i class="fa fa-edit"></i>
              </button>
              <button *ngIf="isAdmin" type="button" (click)="deleteVisit(order.visit_id)" class="btn btn-sm btn-danger" title="Delete">
                <i class="fa fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="totalOrders != '0'" class="d-flex justify-content-center">
        <pagination-controls (pageChange)="onViewCustomerPaginationPageChange($event)"></pagination-controls>
      </div>
    </div>
  </div>
  <!-- Order data tables end -->

  <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Loading...</p>
  </ngx-spinner>
</div>
