input.ng-invalid.ng-touched.ng-invalid, textarea.ng-invalid.ng-touched.ng-invalid{
    border: 1px solid red;
  }

  .form-group>div{
    margin-top: 10px;
  }
  .update-heading{
    font-weight: bold;
    letter-spacing: 1px;
    color:grey;
  }