<app-welcome [route]="addpatient"> </app-welcome>

<div class="container mt-1">
    <h5 class="text-center update-heading  my-4">UPDATE CUSTOMER</h5>
    <form [formGroup]="customerForm"    ng-controller="studentController" role="form">
   
 <div class="row d-flex justify-content-center align-content-center align-items-center">
  <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
       
     <div>
       <label for="customername">Name</label>
       <input type="text" id="customername" name="customername" placeholder="" class="form-control"
         [(ngModel)]="customername" formControlName="customername" required>
     </div>
     <br>
     <div>
      <label for="customergender">Gender</label>
      <select class="form-control" id="customergender"  
          formControlName="customergender"  [(ngModel)]="customergender" name="customergender">
          <option value="">--Select Gender--</option>
        <option *ngFor="let method of Gender" [value]="method"> {{method}}</option>
      </select>
    </div>
    <br>
     <div>
       <label for="customerphonenumber">Contact Number</label>
       <input type="text" id="customerphonenumber" name="customerphonenumber" placeholder="" class="form-control"
         [(ngModel)]="customerphonenumber" formControlName="customerphonenumber" required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
     </div>
     <br>
     <div>
      <label for="customerphonenumber">Email</label>
      <input type="text" id="customeremail" name="customeremail" placeholder="" class="form-control"
        [(ngModel)]="customeremail" formControlName="customeremail">
    </div>
  
   
   </div>
   <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style=" position: relative; bottom: 28px; ">
       <br>
    <div>
      <label for="customerid">Patient ID</label>
      <input type="text" id="customerid" name="customerid" placeholder="" class="form-control"
        [(ngModel)]="customerid" formControlName="customerid" >
    </div> 
    <br>
       <div>
         <label for="customerstate">State</label>
         <input type="text" id="customerstate" name="customerstate" placeholder="" class="form-control"
           [(ngModel)]="customerstate" formControlName="customerstate">
       </div>
       <br>
       <div>
        <label for="customerdistrict">District</label>
        <input type="text" id="customerdistrict" name="customerdistrict" placeholder="" class="form-control"
          [(ngModel)]="customerdistrict" formControlName="customerdistrict">
      </div>
      <br>
      <br>
       
      
      
     </div>
     <div class="d-flex justify-content-center mt-3">
      <button type="button" (click)="backToViewCustomers()" class="btn btn-success">   <span> <i class="fa fa-arrow-left"></i></span> Back</button>&nbsp; &nbsp;
      <button class="btn btn-primary" type="button" (click)="updateCustomer(customerId)"
        name="addcustomer"><span>Update</span></button> 
       
    </div>
 </div>
      
      </form>
  
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  <p style="color: white">loading...</p>  </ngx-spinner>
