<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div style="background-color: #7B1FA2;">
  <nav  class="navbar navbar-expand-lg bg-body-tertiary mx-lg-5 mx-md-5 ">
    <div class="menuNav">
      <div class="row">
        <div class="col-lg-3">
          <a  class="navbar-brand nav-link pb-4 p-3 units fontClass" href="#" routerLink="/user/addcustomer">
            <!-- <svg viewBox="0 0 1320 300">
              <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                Venba Clinic
              </text>
            </svg>   -->
            Venba Clinic
          </a>
        </div>
        <div class="col-lg-6 menu menu-3" >
          <ul class="navbar-nav me-auto pt-2 menu">
      
            <li class="nav-item">
              <a id="addcustomer" class="nav-link " [ngClass]="{'active': route === 'addcustomer'}"
                routerLink="/user/addcustomer">Patient</a>
            </li>
            <li class="nav-item">
              <a id="vieworder" class="nav-link" [ngClass]="{'active': route === 'vieworder'}"
                routerLink="/user/vieworder" >Visits </a>
            </li>
            <li class="nav-item">
              <a id="viewitem" class="nav-link" [ngClass]="{'active': route === 'viewitem'}"
                routerLink="/user/viewitem" >Medicine</a>
            </li>
    
    
            <li *ngIf="isAdmin" class="nav-item">
              <a id="search" class="nav-link" [ngClass]="{'active': route === 'download'}"
                routerLink="/user/download">Download
              </a>
            </li>
          </ul>
          </div>
          <div class="col-lg-3">
          <ul class="navbar-nav  logout">
            <!-- *ngIf=showuser -->
            <li class="nav-item d-flex justify-content-start align-items-center">
              <span class="text-white"><i class="fa fa-user-circle fa-2x"></i></span>
              <a href="" class="nav-link"> &nbsp;Hi! {{username}}</a>
            </li>
    
            <li class="nav-item">
              <a class="nav-link" routerLink="">
                <span> <i class="fa fa-sign-out "></i></span>
                Logout</a>
            </li>
          </ul>
        </div>
      </div>

    </div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
     
    </button>
    <!-- <div class="collapse navbar-collapse "
      id="navbarText">
      <ul class="navbar-nav me-auto pt-2">
      
        <li class="nav-item">
          <a id="addcustomer" class="nav-link" [ngClass]="{'active': route === 'addcustomer'}"
            routerLink="/user/addcustomer">Patient</a>
        </li>
        <li class="nav-item">
          <a id="vieworder" class="nav-link" [ngClass]="{'active': route === 'vieworder'}"
            routerLink="/user/vieworder" >Visits </a>
        </li>
        <li class="nav-item">
          <a id="viewitem" class="nav-link" [ngClass]="{'active': route === 'viewitem'}"
            routerLink="/user/viewitem" >Medicine</a>
        </li>


        <li *ngIf="isAdmin" class="nav-item">
          <a id="search" class="nav-link" [ngClass]="{'active': route === 'download'}"
            routerLink="/user/download">Download
          </a>
        </li>



      </ul>
      
    </div> -->
  </nav>
</div>
